/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* * {
    -webkit-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
} */

html {
    color: #151A1F;
    font-size: 16px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased !important;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    font-family: 'Inter-V', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    width: 100%;
    height: 100%;
}


textarea {
    resize: vertical;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.noscroll {
    overflow: hidden;
}

/*Fonts*/
@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("../fonts/Inter-V.woff2") format("woff2");
}


.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 16px;
}

/* ==========================================================================
   Author's default styles
   ========================================================================== */
figure {
    margin: 0;
}

a,
a:hover,
a:active,
a:focus,
a:active:focus,
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus,
button,
button:focus {
    text-decoration: none;
    outline: none;
    border: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:not(:last-child),
li:not(:last-child) {
    margin: 0px;
}

h1, h2, h3 {
    color: #151A1F;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -2.16px;
}

h2 {
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: -1.26px;
    text-align: center;
}

h3 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: -0.54px;

}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 28.6px;
    color: #151414;
    letter-spacing: 0.2px;

}

h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.126px;
    line-height: 18px;
    color: #151414;
}

h6 {
    color: #2B2B2D;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.17px;

}


.w-full {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}


.transition {
    -webkit-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}


/*Button*/
.btn {
    padding: 12px 17px;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    background-color: #5F63FF;
    display: inline-block;
    line-height: 1.1;
    font-weight: 500;
}


.btn:hover {
    border: none;
    outline: none;
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);
}

.btn:active:focus,
.btn:focus,
.btn:active,
.btn:active:hover,
.btn:active.focus,
.btn.active:hover,
.btn.active:focus {
    outline: none;
    background-color: #5f63ff;
}

/* Header style - Start */
.header {
    padding: 18px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .barnd-logo {
    width: 132px;
    height: 20px;
}

.nav-list ul {
    display: flex;
    align-items: center;
}

.nav-list li {
    margin-right: 2.3125rem;
}

.nav-list li:last-child {
    margin-right: 0;

}

.nav-list li a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    position: relative;
}

.nav-list li a:hover {
    color: #5F63FF;
    transition: all 0.25s ease-in-out 0s;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
}

.nav-list li:last-child a {
    border-radius: 8px;
    background: #232A32;
    color: #FFFFFF;
    padding: 8.5px 17px;
    display: inline-flex;
}

.nav-list li:last-child a:hover {
    background-color: #5F63FF;
    color: #fff;
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);

}

.header-overlay {
    background-color: rgba(246, 246, 249, 0.90);


}

/* Header style - End */


/* Footer Style - Start */
.site-footer .container {
    padding: 0 3.5rem;
}

.site-footer {
    background-color: #151A1F;
    padding: 3.8125rem 0 4.125rem 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.75rem;
}

.footer-logo {
    /* max-width: 28%; */
    padding-right: 16px;
}

.footer-logo figure {
    width: 132px;
    height: 20px;
}

.footer-info p {
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    padding-top: 1.25rem;
}

.footer-list h5 {
    color: #FFF;
}

.footer-list ul {
    padding-top: 1.25rem;
}

.footer-list li {
    padding-bottom: 15px;
}

.footer-list li:last-child {
    padding-bottom: 0;
}

.footer-list li>a {
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.footer-list li>a:hover {
    opacity: 0.7;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.footer-company-list {
    max-width: 162px;
    padding: 0 16px;
}

.footer-contact-list {
    max-width: 170px;
    padding: 0 16px 0 132px;
}

.address-usa {
    padding-top: 1.875rem;
}

.footer-address {
    max-width: 210px;
    padding-left: 92px;
}

.copy-right {
    padding-top: 3rem;
    border-top: 1px solid #1E293B;
}

.footer-links {
    display: flex;
    width: 75%;
    justify-content: flex-end;

}

.footer-logos {
    width: 25%;
}

.copy-right p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

/* Footer Style - End */


/* Hero-section - Start */
.hero-section {
    padding-top: 163px;
}

.hero-info {
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
}

.icon-automated>img {
    height: 80px;
}

.icon-automated {
    max-width: 388px;
    margin: 0 auto;
    height: 80px;
    margin-top: -5px;
}

.hero-info p {
    color: #2B2B2D;
    font-size: 1.75rem;
    font-style: normal;
    line-height: 38px;
}

.hero-info .btn {
    margin-top: 1.75rem;
}

.hero-wrapper {
    margin: 4.1875rem 0 0;
}

.hero-wrapper figure {
    position: relative;
    filter: drop-shadow(0px -1px 245px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 18px rgba(0, 0, 0, 0.05));
    -webkit-filter: drop-shadow(0px -1px 245px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 18px rgba(0, 0, 0, 0.05));
}

.hero-wrapper figure::after,
.hero-wrapper figure::before {
    position: absolute;
    content: '';
    width: 45px;
    height: 45px;
    background-image: url(../images/svg/icon-star.svg);
    background-size: cover;
}

.hero-wrapper figure::after {
    top: -5rem;
    right: -4rem;
}

.hero-wrapper figure::before {
    top: 50%;
    transform: translateY(-50%);
    left: -6rem;
}

.hero-info .btn {
    filter: drop-shadow(0px 4px 16px rgba(147, 147, 153, 0.12));
}

/* Hero-section - End */


/* section-logo - Start */
.section-logo {
    margin-top: -9rem;
    text-align: center;
    padding: 15.875rem 0 6.4375rem 0;
    background: linear-gradient(0deg, rgba(224, 219, 255, 0.30) 0%, rgba(224, 219, 255, 0.30) 100%), #EEEBFF;
}

.brand-title {
    color: #151A1F;
    font-size: 1.3125rem;
    font-weight: 500;
    line-height: 21.42px;
    letter-spacing: 0.105px;
}

.logo-list {
    padding-top: 3.5rem;
    display: flex;
    align-items: center;
}

.logo-list a {
    margin-right: 4.625rem;
}

.logo-list a:last-child {
    margin-right: 0;
}

/* section-logo - End */

/* section one platform - Starts */

.section-one-platform {
    padding: 6.6875rem 0 7.5rem 0;
}

.tab-wrapper {
    border-radius: 36px;
    background-color: rgba(246, 246, 249, 0.90);
    backdrop-filter: blur(5.5px);
    padding: 4.0625rem 0 2.5625rem 2.75rem;
}

.tab-wrapper h3 {
    text-align: center;
}

.embla {
    --slide-size: 100%;
}

.embla__viewport {
    overflow: hidden;
    display: flex;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
}

.embla-thumbs__viewport {
    overflow: hidden;
}

.embla-thumbs__container {
    display: flex;
    flex-direction: row;
    margin-left: calc(var(--thumbs-slide-spacing) * -1);
}

.embla-thumbs__slide {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.embla-thumb-details {
    display: flex;
    align-items: center;
    border-radius: 21px;
    border: 1px solid #B2B5BA;
    background: #FFF;
    padding: 5px 14px;
    z-index: 1;
    position: relative;
}

.embla-thumbs__slide:last-child {
    margin-right: 0;
}

.embla-thumb-details figure {
    margin-right: 10px;
}

.embla-thumb-details p {
    color: #63666C;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 4.88px;
    text-transform: uppercase;
}

.embla--thumb {
    padding: 3.8125rem 0 2.6875rem 0
}

.embla__slide {
    background-color: #FDFDFF;
    stroke-width: 1px;
    stroke: #F2F3F5;
    filter: drop-shadow(0px 10px 30px rgba(135, 135, 135, 0.06)) drop-shadow(0px 10px 10px rgba(135, 135, 135, 0.02));
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    padding: 3rem 0 0 2.75rem;
    overflow: hidden;
    max-width: 90%;
    margin-right: 2.625rem;
}

.embla__slide_info h4 {
    color: #151A1F;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
}

.embla__slide_info p {
    color: #151414;
    font-size: 18px;
    font-weight: 480;
    line-height: 25.2px;
    letter-spacing: 0.18px;
    padding: 14px 0 1.5rem 0;
}

.embla__slide_info .btn {
    font-size: 14px;
    padding: 11px 17px;
}

.embla__slide figure {
    border: 1px solid #EBEEF3;
    border-top-left-radius: 18px;
    overflow: hidden;
    margin-top: 122px;
}

.embla__slide_info {
    max-width: 346px;
}

.embla-thumbs__slide.is-selected .embla-thumb-details,
.embla-thumbs__slide.selected .embla-thumb-details {
    background-color: #15181F;

}

.embla-thumbs__slide.is-selected .embla-thumb-details p,
.embla-thumbs__slide.selected .embla-thumb-details p {
    color: #FFFFFF;
}

.embla-thumbs__slide.is-selected .embla-thumb-details svg path,
.embla-thumbs__slide.selected .embla-thumb-details svg path {
    fill: #FFFFFF;
}

.progress {
    width: 70px;
    height: 1px;
    background-color: #B2B5BA;
}

.embla-thumbs__slide:last-child .progress {
    display: none;
}


.embla-thumbs__slide.is-selected .pregress-length {
    -webkit-animation: load normal forwards;
    animation: load normal forwards;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    height: 1px;
    width: 0;
    background-color: #000;
}

@-webkit-keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.contracts-list-wrapper {
    display: flex;
    padding-top: 6.5rem;
}

.contract-list {
    width: 33.3333%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.contract-list-info {
    display: flex;
    max-width: 292px;
}

.contract-list-info figure {
    width: 68px;
    height: 68px;
    margin-right: 12px;
}

.contract-list-info h2 {
    color: #151A1F;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
}

.contract-list-info p {
    color: #151414;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.09px;
    padding-top: 7px;
}

.contract-list-info .info {
    padding-top: 16px;
}

/* section one platform - End */




/* section-why-hyperstart-clm - start */
.section-why-hyperstart-clm {
    background-color: #F7F6F9;
    padding: 8.125rem 0 10.75rem 0;
}

.section-why-hyperstart-clm h2 span{
    position: relative;
    display: inline-flex;
    z-index: 1;
}
.section-why-hyperstart-clm h2 span::after{
    position: absolute;
    content: '';
    width: 122px;
    height: 16px;
    background-color: #C7C8FF;
    left: 0;
    bottom: -6px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(-3deg);
}
.clm-list {
    width: 33.333%;
    padding: 0 15px;
}

.clm-list-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 8.4375rem;
}

.clm-list-content {
    margin-bottom: 10.9375rem;
    max-width: 363px;
    background-color: transparent;
    padding: 18px 2.25rem 1.5rem 1.6875rem;
    border-radius: 11px;
}

.clm-list-content h5 {
    color: #151414;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 28.6px;
    letter-spacing: 0.2px;
    padding-bottom: 18px;
}

.clm-list-content ul li {
    color: #2B2B2D;
    font-size: 17px;
    font-weight: 400;
    line-height: 24.31px;
    letter-spacing: -0.17px;
    padding: 0 0 15px 12px;
    position: relative;
}

.clm-list-content ul li::before {
    content: '';
    position: absolute;
    height: 9px;
    width: 2px;
    left: 0;
    top: 8px;
    background-color: #151414;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.clm-list-content ul li:last-child {
    margin-bottom: 0;
}

.clm-list-content p {
    color: #2B2B2D;
    font-size: 17px;
    font-weight: 400;
    line-height: 24.31px;
    letter-spacing: -0.34px;
    max-width: 320px;
}

.clm-list-content .btn {
    font-size: 14px;
    font-weight: 500;
    margin-top: 18px;
    padding: 11px 16px;
}

.clm-list .clm-list-content:last-child {
    margin-bottom: 0;
}
.clm-list-content:hover,
.clm-list-selected{
    background-color: #FFFFFF;
}
/* section-why-hyperstart-clm - End */




/* Padhu - Styles */

/* section-pricing style starts */
.section-pricing {
    padding-top: 8.5rem;
    padding-bottom: 12.25rem;
    background-color: #ffffff;
  }
  
  .pricing-card-wrapper {
    display: flex;
    padding-top: 5.75rem;
    margin-right: -12px;
    margin-left: -12px;
  }
  
  .pricing-card-container {
    padding: 0 11px;
    width: 33.33%;
  }
  
  .pricing-card {
    border: 1px solid #e9eaf0;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    fill: #fff;
    stroke-width: 1px;
    stroke: #e9eaf0;
    opacity: 0.88;
    filter: drop-shadow(0px 10px 20px rgba(135, 135, 135, 0.08));
    background-color: #ffffff;
  }
  
  .price-detail-block {
    padding: 2rem 2rem 0px 2rem;
  }
  
  .badge {
    padding: 5px 10px;
    border-radius: 17px;
    background: #e8e4fd;
    display: inline-flex;
  }
  
  .badge p {
    color: #000;
    font-size: 18px;
    font-weight: 450;
    line-height: 24px;
  }
  
  .price-block {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 1.75rem;
    padding-top: 1.875rem;
    border-bottom: 1px solid #e9eaf0;
  }
  
  .price-img-block {
    flex: 1;
  }
  
  .price-img-block p {
    font-size: 30px;
    font-weight: 500;
    line-height: 37.2px;
    letter-spacing: 0.3px;
  }
  
  .img-block {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
  
  .img-block p {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.32px;
    letter-spacing: 0.18px;
    padding-left: 8px;
  }
  
  .price-block .btn {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    border: 1px solid #e9eaf0;
    box-shadow: 0px 1px 4px 0px rgba(144, 144, 154, 0.04);
    line-height: 1;
  }
  
  .price-block .btn:hover,
  .price-block .btn:active,
  .price-block .btn:focus {
    border: 1px solid #e9eaf0;
    background-color: #e9eaf0;
  }
  
  .plan-detail-block li {
    color: #151414;
    font-size: 17px;
    font-weight: 432;
    line-height: 24.31px;
    font-weight: 500;
    padding-bottom: 1.5rem;
    padding-left: 1.625rem;
    position: relative;
  }
  
  .plan-detail-block {
    padding: 2.625rem 2rem 2.375rem 2rem;
    background-color: #fcfcfc;
    border-radius: 0 0 25px 25px;
    height: 100%;
    position: relative;
  }
  
  .pricing-card-container:first-child .plan-detail-block {
    padding: 2rem 2rem 2.375rem 2rem;
    background-color: #ffffff;
  }
  
  .plan-detail-block li:last-child {
    padding-bottom: 0;
  }
  .plan-detail-block li::before {
    position: absolute;
    content: "";
    background-image: url(../images/svg/check-list-icon.svg);
    left: 0;
    top: 4px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }
  
  .enterprise-plan-card .price-detail-block {
    background-color: #e7e2ff;
    border-radius: 25px 25px 0 0;
    margin: -1px;
  }
  
  .enterprise-plan-card .price-img-block p {
    font-size: 13px;
    font-weight: 400;
    line-height: 17.68px;
    letter-spacing: 0.13px;
    padding-right: 10px;
  }
  
  .enterprise-plan-card .badge {
    background-color: #ffffff;
  }
  
  .included-plan-block {
    padding: 26px 24px 28px 24px;
    border-bottom: 1px solid #e9eaf0;
    position: relative;
  }
  
  .included-plan-block::before {
    position: absolute;
    content: "";
    background-image: url(../images/svg/plan-card-add-icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: -43.5px;
    left: 32px;
    width: 14px;
    height: 76px;
    z-index: 1;
  }
  
  .included-plan {
    align-items: center;
    padding: 5px 12px 5px 10px;
    background-color: #f4f5f6;
    border-radius: 25px;
    display: inline-flex;
  }
  
  .enterprise-plan-card .included-plan {
    background-color: #e9eaec;
  }
  
  .included-plan p {
    color: #151414;
    font-size: 17px;
    font-weight: 430;
    line-height: 24.31px;
    padding-left: 10px;
  }
  /* section-pricing style end */
  
  /* section-product-hyperverge style starts */
  
  .section-product-hyperverge {
    background-color: #f6f6fb;
    padding-top: 5.5rem;
    padding-bottom: 11rem;
  }
  
  .product-hyperverge-contentes-container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-contents-block {
    max-width: 489px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .right-contents-block {
    max-width: 539px;
    width: 100%;
  }
  
  .rating-card {
    padding: 10px 14px;
    background-color: #ffffff;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 10px 30px 0px rgba(135, 135, 135, 0.06);
  }
  
  .rating-card p {
    color: #151414;
    font-size: 20px;
    font-weight: 600;
    line-height: 28.6px;
    letter-spacing: 0.2px;
  }
  
  .star-img {
    margin-left: 8px;
    margin-right: 10px;
  }
  
  .product-text {
    color: #151a1f;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.56px;
    padding-top: 1.625rem;
    padding-bottom: 1.375rem;
  }
  
  .product-text span img {
    width: 20px;
    height: 24px;
    margin-left: 8px;
  }
  
  .reward-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .reward-container figure {
    width: 62px;
    height: 80px;
    margin-right: 1.875rem;
  }
  
  .reward-container figure:last-child {
    margin-right: 0;
  }
  
  .rating-block p {
    color: #151a1f;
    font-size: 27px;
    font-weight: 600;
    line-height: 36.18px;
    letter-spacing: -0.54px;
  }
  
  .security-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  
  .security-container figure {
    width: 55px;
    height: 55px;
    margin-right: 1.25rem;
  }
  
  .security-container figure:last-child {
    margin-right: 0;
  }
  
  .secure-block span {
    color: #151414;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    letter-spacing: 0.2px;
    display: block;
  }
  
  .secure-block p {
    color: #151414;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: -0.14px;
    padding-top: 8px;
    padding-bottom: 16px;
  }
  
  .secure-block .btn {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 18px;
  }
  
  .brand-card-container {
    margin-top: 5.5rem;
    position: relative;
  }
  
  .brand-card-container::before {
    position: absolute;
    content: "";
    background-image: url(../images/svg/calender-img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 146px;
    height: 134px;
    top: -102px;
    right: 20px;
  }
  
  .brand-card {
    padding: 1.625rem 1.5rem 1rem 1.75rem;
    border-radius: 20px;
    border: 1px solid #f2f3f5;
    background: #fff;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
  }
  
  .brand-card:nth-child(2) {
    transform: rotate(1.353deg);
  }
  
  .brand-card:nth-child(3) {
    transform: rotate(-1.262deg);
  }
  
  .brand-card:last-child {
    margin-bottom: 0;
  }
  
  .brand-card figure img {
    width: auto;
  }
  
  .brand-card p {
    color: #151414;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.6px;
    letter-spacing: 0.2px;
    padding-top: 16px;
  }
  
  /* section-product-hyperverge style starts */
  
  /* section-contract-management style starts */
  .section-contract-management {
    padding-top: 7.25rem;
    padding-bottom: 11.625rem;
  }
  
  .section-contract-management h2 {
    max-width: 418px;
    margin: 0 auto;
  }
  
  .section-contract-management h2 span {
    display: inline-flex;
    position: relative;
  }
  
  .section-contract-management h2 span::after {
    position: absolute;
    content: "";
    width: 151px;
    height: 29px;
    left: -10px;
    bottom: -15px;
    background-image: url(../images/svg/line-orange-highlight.svg);
    background-size: auto;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .contract-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 154px;
    max-width: 1180px;
    margin: 5.625rem auto 0 auto;
  }
  
  .contract-card-container {
    width: 50%;
    display: flex;
  }
  
  .contract-card-container:nth-child(even) {
    justify-content: flex-end;
  }
  
  .contract-card-container.active .contract-card,
  .contract-card:hover {
    background: #f7f6f9;
  }
  
  .contract-card {
    border-radius: 11px;
    padding: 1.25rem 1.5rem;
    max-width: 306px;
    width: 100%;
    transition: 150ms all;
    position: relative;
  }
  
  .contract-card p {
    color: #151414;
    font-size: 20px;
    font-weight: 600;
    line-height: 28.6px;
    letter-spacing: 0.2px;
    padding-bottom: 1.125rem;
    transition: 150ms all;
  }
  
  .contract-card-container.active .contract-card p,
  .contract-card:hover p {
    color: #f06b0b;
  }
  
  .contract-card li {
    color: #2b2b2d;
    font-size: 17px;
    font-weight: 400;
    line-height: 24.31px;
    letter-spacing: 0.17px;
    padding-bottom: 15px;
    padding-left: 14px;
    position: relative;
  }
  
  .contract-card li::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 9px;
    border-radius: 1px;
    background: #151414;
    left: 0;
    top: 7px;
  }
  
  .contract-card li:last-child {
    padding-bottom: 0;
  }
  
  .contract-card figure {
    position: absolute;
      top: 20%;
      left: 75%;
      width: 150%;
  }
  /* section-contract-management style end */
  